

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root{
    --ff-primary: Georgia,serif;
    --ff-secondary: Tahoma,sans-serif;
    --fw-reg: 400;
    --fw-bold: 700;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16E0BD;
    --fs-h1: 3.5rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.2rem;
    --bs: .25em .25em .75em rgba(0, 0, 0, .5), .12em .12em .25em rgba(0, 0, 0, .25);
}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.5rem;
        --fs-h3: 2rem;
        --fs-body: 1.5rem;
    }
}

/* general */
body{
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.4;
}
img{
    display: block;
    max-width: 100%;
}
section{
    padding: 5em 2em;
}
strong{
    font-weight: var(--fw-bold);
}

/* typography */
h1,h2,h3{
    line-height: 1.2;
}
h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}
.section-title{
    margin-bottom: .2em;
}
.section-title-intro{
    font-weight: var(--fw-reg);
}
.section-title-intro strong{
    display: block;
}
.section-subtitle{
    font-size: var(--fs-h3);
}
.section-subtitle-intro,
.section-subtitle-about{
    background: var(--clr-accent);
    padding: .1em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* header */
nav{
    display: none;
}
/* intro */
intro{
    position: relative;
}
.intro-img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .intro{
        display: grid;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
        width: min-content;
        margin: 0 auto;
    }
    .intro-img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section-subtitle-intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1em;
        width: calc(100% + 1em);
    }
}

/* services */










